* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: sharp-sans;
  src: url('./fonts/SharpSansNo1-Bold.woff');
}

@font-face {
  font-family: sharp-sans-medium;
  src: url('./fonts/SharpSansNo1Medium-Regular.woff');
}

@font-face {
  font-family: proxima-nova-regular;
  src: url('./fonts/proximanova-regular-webfont.woff');
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 350px;
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/Group\ 4.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.webinar-button {
  font-family: sharp-sans;
  width: 100px;
  padding: 10px;
  position: relative;
  background-color: orangered;
  border: none;
  color: white;
}

.title {
  font-family: sharp-sans;
  text-align: center;
  font-size: 40px;
  width: 960px;
  line-height: 52px;
  position: relative;
  color: #02363D;
}

.sub-title {
  font-size: 21px;
  position: relative;
  color: #00373E;
  font-family: sharp-sans-medium;
}

.main-content {
  display: flex;
  justify-content: space-around;
}

.left-content {
  width: 600px;
  font-family: 'proxima-nova-regular';
  color: #405457;
}

.form {
  display: flex;
  width: 470px;
  height: 822px;
  flex-direction: column;
  align-items: center;
  font-family: 'sharp-sans-medium';
  color: #02363D;
  background-color: #F8F9F9;
  justify-content: space-around;
}

.form input {
  width: 370px;
  height: 50px;
}

.form button {
  border: none;
  background-color: #02363D;
  color: white;
  font-family: 'sharp-sans-medium';
  width: 370px;
  height: 50px;
}

footer {
  display: flex;
  justify-content: space-between;
}